In [1]:
import pandas as pd
import numpy as py
#from polygon import RESTClient
import datetime
import json
import requests
import os
import math
from dotenv import load_dotenv
load_dotenv()

True

In [60]:
#tickers_url = 'https://api.polygon.io/v3/reference/tickers?active=true&sort=ticker&order=asc&limit=1000&apiKey=XrTJjjYQpsWD5i9Gn1vBE1LEu1J1R5gJ'
#aapl_financials = 'https://api.polygon.io/v2/reference/financials/AAPL?limit=40&type=Q&apiKey=XrTJjjYQpsWD5i9Gn1vBE1LEu1J1R5gJ'
#msft_financials = 'https://api.polygon.io/v2/reference/financials/MSFT?limit=40&type=Q&apiKey=XrTJjjYQpsWD5i9Gn1vBE1LEu1J1R5gJ'

#response_data = requests.get(msft_financials).json()
#df_aapl_financials = pd.DataFrame(response_data)
#df_aapl_financials
#aapl_financials_df = pd.DataFrame(response_data['results'])
#aapl_financials_df.shape

(40, 103)

In [7]:
def financials(ticker):
    financials = "https://api.polygon.io/v2/reference/financials/"+ticker+"?limit=40&type=Q&apiKey=XrTJjjYQpsWD5i9Gn1vBE1LEu1J1R5gJ"
    response_data = requests.get(financials).json()
    df = pd.DataFrame(response_data['results'])
    df = df[['ticker', 'period', 'reportPeriod', 'assets', 'cashAndEquivalentsUSD', 'debtToEquityRatio', 'debtUSD', 'dividendYield', 'earningsBeforeInterestTaxesDepreciationAmortizationUSD', 'EBITDAMargin', 'shareholdersEquityUSD', 'enterpriseValue']]
    return df

In [8]:
tickers = ['AAPL', 'MSFT', 'MSTR']
test_df = pd.DataFrame()
for ticker in tickers:
    print(ticker)
    test_df = pd.concat([test_df, financials(ticker)], axis=0, join='outer')

AAPL
MSFT
MSTR

In [9]:
test_df

,ticker,period,reportPeriod,assets,cashAndEquivalentsUSD,debtToEquityRatio,debtUSD,dividendYield,earningsBeforeInterestTaxesDepreciationAmortizationUSD,EBITDAMargin,shareholdersEquityUSD,enterpriseValue
0,AAPL,Q,2020-03-28,320400000000,40174000000,3.085,109507000000,0.011,15921000000,0.273,78425000000,1322259218450
1,AAPL,Q,2019-12-28,340618000000,39771000000,2.804,108292000000,0.009,28734000000,0.313,89531000000,1487664183200
2,AAPL,Q,2019-09-28,338516000000,48844000000,2.741,108047000000,0.012,19306000000,0.301,90488000000,1164509601400
3,AAPL,Q,2019-06-29,322239000000,50530000000,2.341,108418000000,0.014,14844000000,0.276,96456000000,1020654107200
4,AAPL,Q,2019-03-30,341998000000,37988000000,2.231,112630000000,0.014,16833000000,0.290,105860000000,1043260309000
...,...,...,...,...,...,...,...,...,...,...,...,...
35,MSTR,Q,2011-06-30,403092000,193495000,1.576,0,0.000,7429000,0.054,156496000,1384870711
36,MSTR,Q,2011-03-31,393540000,203456000,1.561,0,0.000,4147000,0.034,153669000,1239697413
37,MSTR,Q,2010-12-31,381566000,174381000,1.558,0,0.000,23235000,0.167,149172000,1069827896
38,MSTR,Q,2010-09-30,355966000,185363000,1.264,0,0.000,11366000,0.099,157240000,746716501
39,MSTR,Q,2010-06-30,365280000,203736000,0.930,0,0.000,19437000,0.181,189283000,699657580