In [18]:
import pandas as pd
import numpy as np
#from polygon import RESTClient
import datetime
import json
import requests
import os
import math
from dotenv import load_dotenv
load_dotenv()

%matplotlib inline

In [19]:
from matplotlib import pyplot
from pandas.plotting import scatter_matrix
#import seaborn as sns
from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.neural_network import MLPRegressor

#Libraries for Deep Learning Models
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import SGD
from keras.layers import LSTM
from keras.wrappers.scikit_learn import KerasRegressor

#Libraries for Statistical Models
import statsmodels.api as sm

# Time series Models
from statsmodels.tsa.arima_model import ARIMA
#from statsmodels.tsa.statespace.sarimax import SARIMAX

# Error Metrics
from sklearn.metrics import mean_squared_error

# Feature Selection
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2, f_regression


#Plotting 
from pandas.plotting import scatter_matrix
from statsmodels.graphics.tsaplots import plot_acf

In [20]:
import warnings
warnings.filterwarnings('ignore')

In [21]:
def financials(ticker):
    financials = "https://api.polygon.io/v2/reference/financials/"+ticker+"?limit=40&type=Q&apiKey=XrTJjjYQpsWD5i9Gn1vBE1LEu1J1R5gJ"
    response_data = requests.get(financials).json()
    df = pd.DataFrame(response_data['results'])
    #df = df[["calendarDate", "assetsCurrent", 'cashAndEquivalentsUSD', "sharePriceAdjustedClose", 'investmentsCurrent', 'assetsCurrent', 'debtToEquityRatio', 'debtUSD', 'dividendYield', 'earningsBeforeInterestTaxesDepreciationAmortizationUSD', 'EBITDAMargin', 'shareholdersEquityUSD', 'enterpriseValue']]
    return df

In [22]:
tickers = ['HD']#, 'LOW', 'CAT', 'KR', 'WMT']
test_df = pd.DataFrame()
for ticker in tickers:
    print(ticker)
    data = financials(ticker)
    #data = data.set_index('calendarDate')
    data = data.drop(['ticker', 'period', 'reportPeriod', 'updated', 'dateKey' ], axis=1)
    data = data.add_prefix(f'{ticker}_')
    test_df = pd.concat([test_df, data], axis=1, join='outer')

HD

In [23]:

test_df.set_index('HD_calendarDate')
for ticker in tickers[1:]:
    test_df2 = test_df.drop([f'{ticker}_calendarDate'], axis=1)

In [24]:
test_df

,HD_calendarDate,HD_accumulatedOtherComprehensiveIncome,HD_assets,HD_assetsCurrent,HD_assetsNonCurrent,HD_bookValuePerShare,HD_capitalExpenditure,HD_cashAndEquivalents,HD_cashAndEquivalentsUSD,HD_costOfRevenue,...,HD_shares,HD_weightedAverageShares,HD_weightedAverageSharesDiluted,HD_salesPerShare,HD_tangibleAssetValue,HD_taxAssets,HD_incomeTaxExpense,HD_taxLiabilities,HD_tangibleAssetsBookValuePerShare,HD_workingCapital
0,2019-12-31,-739000000,51236000000,19810000000,31426000000,-2.875,-771000000,2133000000,2133000000,17046000000,...,1074741592,1084000000,1088000000,23.784,48982000000,0,630000000,1366000000,45.186,1435000000
1,2019-09-30,-801000000,52309000000,21174000000,31135000000,-0.994,-635000000,2193000000,2193000000,17836000000,...,1090831020,1089000000,1094000000,24.998,50056000000,0,898000000,686000000,45.965,1609000000
2,2019-06-30,-776000000,52010000000,20699000000,31311000000,-1.059,-560000000,2547000000,2547000000,20407000000,...,1095153073,1095000000,1099000000,28.163,49756000000,0,1134000000,766000000,45.439,1901000000
3,2019-03-31,-835000000,51515000000,20553000000,30962000000,-1.946,-675000000,1882000000,1882000000,17364000000,...,1100286099,1101000000,1106000000,23.961,49265000000,0,811000000,789000000,44.746,880000000
4,2018-12-31,-772000000,44003000000,18529000000,25474000000,-1.683,-719000000,1778000000,1778000000,17464000000,...,1103903507,1116000000,1122000000,23.737,41751000000,0,769000000,1158000000,37.411,1813000000
5,2018-09-30,-717000000,45200000000,19809000000,25391000000,1.163,-615000000,1764000000,1764000000,17151000000,...,1129527754,1135000000,1141000000,23.174,42942000000,0,779000000,652000000,37.834,1613000000
6,2018-06-30,-774000000,46232000000,20802000000,25430000000,1.756,-527000000,3490000000,3490000000,20098000000,...,1144138185,1144000000,1149000000,26.628,43981000000,0,1149000000,750000000,38.445,2376000000
7,2018-03-31,-596000000,46650000000,21214000000,25436000000,1.464,-548000000,3599000000,3599000000,16330000000,...,1153543611,1152000000,1158000000,21.655,44369000000,0,738000000,730000000,38.515,3081000000
8,2017-12-31,-566000000,44529000000,18933000000,25596000000,1.253,-534000000,3595000000,3595000000,15790000000,...,1157269522,1160000000,1166000000,20.589,42254000000,0,1164000000,1014000000,36.426,2739000000
9,2017-09-30,-629000000,45023000000,19682000000,25341000000,2.177,-493000000,3549000000,3549000000,16378000000,...,1167748619,1168000000,1174000000,21.426,42806000000,0,1268000000,1012000000,36.649,3680000000
10,2017-06-30,-482000000,45959000000,20511000000,25448000000,3.004,-378000000,4830000000,4830000000,18647000000,...,1178817584,1183000000,1189000000,23.760,43724000000,0,1542000000,1277000000,36.960,4688000000
11,2017-03-31,-923000000,44944000000,19896000000,25048000000,3.307,-445000000,3565000000,3565000000,15733000000,...,1195554970,1198000000,1204000000,19.939,42849000000,0,1094000000,1849000000,35.767,3458000000
12,2016-12-31,-867000000,42966000000,17724000000,25242000000,3.587,-468000000,2538000000,2538000000,14654000000,...,1202918166,1208000000,1210000000,18.383,40873000000,0,948000000,829000000,33.835,3591000000
13,2016-09-30,-883000000,44502000000,19348000000,25154000000,4.593,-441000000,3589000000,3589000000,15112000000,...,1218160970,1224000000,1229000000,18.917,42407000000,0,1115000000,972000000,34.646,4917000000
14,2016-06-30,-778000000,44247000000,18941000000,25306000000,5.390,-353000000,4018000000,4018000000,17545000000,...,1235573686,1235000000,1240000000,21.435,42141000000,0,1434000000,1300000000,34.122,4416000000
15,2016-03-31,-578000000,44576000000,19010000000,25566000000,5.080,-321000000,3257000000,3257000000,14971000000,...,1244007307,1247000000,1252000000,18.253,42453000000,0,1037000000,1811000000,34.044,3861000000
16,2015-12-31,-898000000,42549000000,16993000000,25556000000,5.029,-401000000,2216000000,2216000000,13824000000,...,1252951007,1256000000,1262000000,16.704,40447000000,0,842000000,1364000000,32.203,4467000000
17,2015-09-30,-662000000,44152000000,18606000000,25546000000,6.009,-362000000,3040000000,3040000000,14254000000,...,1267881263,1268000000,1274000000,17.207,42041000000,0,1016000000,1541000000,33.155,2630000000
18,2015-06-30,-582000000,43798000000,19531000000,24267000000,6.732,-380000000,4936000000,4936000000,16464000000,...,1284103307,1283000000,1289000000,19.352,42458000000,0,1329000000,1343000000,33.093,3132000000
19,2015-03-31,-327000000,42510000000,17995000000,24515000000,7.091,-317000000,2827000000,2827000000,13712000000,...,1298976045,1298000000,1305000000,16.095,41151000000,0,825000000,1863000000,31.703,990000000
20,2014-12-31,-452000000,39946000000,15302000000,24644000000,7.127,-415000000,1723000000,1723000000,12439000000,...,1307394094,1308000000,1316000000,14.650,38593000000,0,714000000,1111000000,29.505,4033000000
21,2014-09-30,-18000000,41512000000,16749000000,24763000000,7.619,-364000000,2181000000,2181000000,13331000000,...,1317827350,1327000000,1334000000,15.460,40229000000,0,903000000,1102000000,30.316,4489000000
22,2014-06-30,91000000,43479000000,18491000000,24988000000,8.512,-335000000,4216000000,4216000000,15650000000,...,1345921559,1346000000,1353000000,17.690,42184000000,0,1207000000,1468000000,31.340,5652000000
23,2014-03-31,88000000,42629000000,17515000000,25114000000,8.885,-280000000,2511000000,2511000000,12802000000,...,1367617382,1367000000,1376000000,14.402,41336000000,0,807000000,1641000000,30.238,4250000000
24,2013-12-31,46000000,40518000000,15279000000,25239000000,9.035,-371000000,1929000000,1929000000,11504000000,...,1381350137,1386000000,1392000000,12.768,39229000000,0,570000000,922000000,28.304,4530000000
25,2013-09-30,254000000,43814000000,18598000000,25216000000,10.095,-347000000,4853000000,4853000000,12672000000,...,1408227028,1408000000,1417000000,13.828,42642000000,0,754000000,870000000,30.286,6069000000
26,2013-06-30,281000000,42192000000,16895000000,25297000000,10.794,-320000000,3419000000,3419000000,14801000000,...,1432443494,1434000000,1443000000,15.706,41022000000,0,1051000000,896000000,28.607,3900000000
27,2013-03-31,433000000,44195000000,18620000000,25575000000,11.167,-263000000,4337000000,4337000000,12445000000,...,1460796393,1468000000,1478000000,13.027,43008000000,0,707000000,1381000000,29.297,4602000000
28,2012-12-31,397000000,41084000000,15372000000,25712000000,12.003,-396000000,2494000000,2494000000,11880000000,...,1485517485,1481000000,1493000000,12.320,39914000000,0,569000000,813000000,26.951,3910000000
29,2012-09-30,411000000,41661000000,15955000000,25706000000,11.929,-330000000,2554000000,2554000000,11863000000,...,1495179495,1487000000,1498000000,12.192,40520000000,0,636000000,925000000,27.249,5289000000
30,2012-06-30,315000000,41983000000,16231000000,25752000000,11.748,-315000000,2810000000,2810000000,13544000000,...,1507441717,1501000000,1512000000,13.704,40826000000,0,886000000,1183000000,27.199,4997000000
31,2012-03-31,453000000,43300000000,17352000000,25948000000,11.810,-221000000,3191000000,3191000000,11625000000,...,1530662299,1522000000,1531000000,11.700,42161000000,0,595000000,1317000000,27.701,5253000000
32,2011-12-31,293000000,40518000000,14520000000,25998000000,11.683,-381000000,1987000000,1987000000,10417000000,...,1523263533,1532000000,1537000000,10.453,39398000000,0,406000000,754000000,25.717,5144000000
33,2011-09-30,362000000,41499000000,15478000000,26021000000,11.538,-342000000,2234000000,2234000000,11365000000,...,1541568417,1540000000,1548000000,11.251,40427000000,0,523000000,984000000,26.251,4892000000
34,2011-06-30,603000000,42277000000,15857000000,26420000000,11.628,-258000000,2551000000,2551000000,13356000000,...,1564291782,1568000000,1577000000,12.903,41100000000,0,785000000,1045000000,26.212,4910000000
35,2011-03-31,613000000,42797000000,16161000000,26636000000,11.381,-184000000,1806000000,1806000000,10995000000,...,1592245349,1599000000,1611000000,10.521,41588000000,0,471000000,1165000000,26.009,4703000000
36,2010-12-31,445000000,40125000000,13479000000,26646000000,11.653,-388000000,545000000,545000000,9883000000,...,1622070458,1621000000,1631000000,9.331,38938000000,0,363000000,653000000,24.021,3357000000
37,2010-09-30,375000000,41741000000,15076000000,26665000000,11.677,-261000000,1425000000,1425000000,10913000000,...,1638820640,1637000000,1646000000,10.139,40561000000,0,472000000,813000000,24.778,3716000000
38,2010-06-30,392000000,42535000000,15757000000,26778000000,11.763,-223000000,2395000000,2395000000,12828000000,...,1665301180,1653000000,1663000000,11.742,41348000000,0,709000000,955000000,25.014,3018000000
39,2010-03-31,506000000,43619000000,16646000000,26973000000,11.551,-140000000,2436000000,2436000000,11069000000,...,1680353844,1677000000,1688000000,10.055,42427000000,0,391000000,1183000000,25.299,2669000000

In [25]:

test_df = test_df.rename(columns={'HD_calendarDate': 'calendarDate'})

In [26]:
test_df

,calendarDate,HD_accumulatedOtherComprehensiveIncome,HD_assets,HD_assetsCurrent,HD_assetsNonCurrent,HD_bookValuePerShare,HD_capitalExpenditure,HD_cashAndEquivalents,HD_cashAndEquivalentsUSD,HD_costOfRevenue,...,HD_shares,HD_weightedAverageShares,HD_weightedAverageSharesDiluted,HD_salesPerShare,HD_tangibleAssetValue,HD_taxAssets,HD_incomeTaxExpense,HD_taxLiabilities,HD_tangibleAssetsBookValuePerShare,HD_workingCapital
0,2019-12-31,-739000000,51236000000,19810000000,31426000000,-2.875,-771000000,2133000000,2133000000,17046000000,...,1074741592,1084000000,1088000000,23.784,48982000000,0,630000000,1366000000,45.186,1435000000
1,2019-09-30,-801000000,52309000000,21174000000,31135000000,-0.994,-635000000,2193000000,2193000000,17836000000,...,1090831020,1089000000,1094000000,24.998,50056000000,0,898000000,686000000,45.965,1609000000
2,2019-06-30,-776000000,52010000000,20699000000,31311000000,-1.059,-560000000,2547000000,2547000000,20407000000,...,1095153073,1095000000,1099000000,28.163,49756000000,0,1134000000,766000000,45.439,1901000000
3,2019-03-31,-835000000,51515000000,20553000000,30962000000,-1.946,-675000000,1882000000,1882000000,17364000000,...,1100286099,1101000000,1106000000,23.961,49265000000,0,811000000,789000000,44.746,880000000
4,2018-12-31,-772000000,44003000000,18529000000,25474000000,-1.683,-719000000,1778000000,1778000000,17464000000,...,1103903507,1116000000,1122000000,23.737,41751000000,0,769000000,1158000000,37.411,1813000000
5,2018-09-30,-717000000,45200000000,19809000000,25391000000,1.163,-615000000,1764000000,1764000000,17151000000,...,1129527754,1135000000,1141000000,23.174,42942000000,0,779000000,652000000,37.834,1613000000
6,2018-06-30,-774000000,46232000000,20802000000,25430000000,1.756,-527000000,3490000000,3490000000,20098000000,...,1144138185,1144000000,1149000000,26.628,43981000000,0,1149000000,750000000,38.445,2376000000
7,2018-03-31,-596000000,46650000000,21214000000,25436000000,1.464,-548000000,3599000000,3599000000,16330000000,...,1153543611,1152000000,1158000000,21.655,44369000000,0,738000000,730000000,38.515,3081000000
8,2017-12-31,-566000000,44529000000,18933000000,25596000000,1.253,-534000000,3595000000,3595000000,15790000000,...,1157269522,1160000000,1166000000,20.589,42254000000,0,1164000000,1014000000,36.426,2739000000
9,2017-09-30,-629000000,45023000000,19682000000,25341000000,2.177,-493000000,3549000000,3549000000,16378000000,...,1167748619,1168000000,1174000000,21.426,42806000000,0,1268000000,1012000000,36.649,3680000000
10,2017-06-30,-482000000,45959000000,20511000000,25448000000,3.004,-378000000,4830000000,4830000000,18647000000,...,1178817584,1183000000,1189000000,23.760,43724000000,0,1542000000,1277000000,36.960,4688000000
11,2017-03-31,-923000000,44944000000,19896000000,25048000000,3.307,-445000000,3565000000,3565000000,15733000000,...,1195554970,1198000000,1204000000,19.939,42849000000,0,1094000000,1849000000,35.767,3458000000
12,2016-12-31,-867000000,42966000000,17724000000,25242000000,3.587,-468000000,2538000000,2538000000,14654000000,...,1202918166,1208000000,1210000000,18.383,40873000000,0,948000000,829000000,33.835,3591000000
13,2016-09-30,-883000000,44502000000,19348000000,25154000000,4.593,-441000000,3589000000,3589000000,15112000000,...,1218160970,1224000000,1229000000,18.917,42407000000,0,1115000000,972000000,34.646,4917000000
14,2016-06-30,-778000000,44247000000,18941000000,25306000000,5.390,-353000000,4018000000,4018000000,17545000000,...,1235573686,1235000000,1240000000,21.435,42141000000,0,1434000000,1300000000,34.122,4416000000
15,2016-03-31,-578000000,44576000000,19010000000,25566000000,5.080,-321000000,3257000000,3257000000,14971000000,...,1244007307,1247000000,1252000000,18.253,42453000000,0,1037000000,1811000000,34.044,3861000000
16,2015-12-31,-898000000,42549000000,16993000000,25556000000,5.029,-401000000,2216000000,2216000000,13824000000,...,1252951007,1256000000,1262000000,16.704,40447000000,0,842000000,1364000000,32.203,4467000000
17,2015-09-30,-662000000,44152000000,18606000000,25546000000,6.009,-362000000,3040000000,3040000000,14254000000,...,1267881263,1268000000,1274000000,17.207,42041000000,0,1016000000,1541000000,33.155,2630000000
18,2015-06-30,-582000000,43798000000,19531000000,24267000000,6.732,-380000000,4936000000,4936000000,16464000000,...,1284103307,1283000000,1289000000,19.352,42458000000,0,1329000000,1343000000,33.093,3132000000
19,2015-03-31,-327000000,42510000000,17995000000,24515000000,7.091,-317000000,2827000000,2827000000,13712000000,...,1298976045,1298000000,1305000000,16.095,41151000000,0,825000000,1863000000,31.703,990000000
20,2014-12-31,-452000000,39946000000,15302000000,24644000000,7.127,-415000000,1723000000,1723000000,12439000000,...,1307394094,1308000000,1316000000,14.650,38593000000,0,714000000,1111000000,29.505,4033000000
21,2014-09-30,-18000000,41512000000,16749000000,24763000000,7.619,-364000000,2181000000,2181000000,13331000000,...,1317827350,1327000000,1334000000,15.460,40229000000,0,903000000,1102000000,30.316,4489000000
22,2014-06-30,91000000,43479000000,18491000000,24988000000,8.512,-335000000,4216000000,4216000000,15650000000,...,1345921559,1346000000,1353000000,17.690,42184000000,0,1207000000,1468000000,31.340,5652000000
23,2014-03-31,88000000,42629000000,17515000000,25114000000,8.885,-280000000,2511000000,2511000000,12802000000,...,1367617382,1367000000,1376000000,14.402,41336000000,0,807000000,1641000000,30.238,4250000000
24,2013-12-31,46000000,40518000000,15279000000,25239000000,9.035,-371000000,1929000000,1929000000,11504000000,...,1381350137,1386000000,1392000000,12.768,39229000000,0,570000000,922000000,28.304,4530000000
25,2013-09-30,254000000,43814000000,18598000000,25216000000,10.095,-347000000,4853000000,4853000000,12672000000,...,1408227028,1408000000,1417000000,13.828,42642000000,0,754000000,870000000,30.286,6069000000
26,2013-06-30,281000000,42192000000,16895000000,25297000000,10.794,-320000000,3419000000,3419000000,14801000000,...,1432443494,1434000000,1443000000,15.706,41022000000,0,1051000000,896000000,28.607,3900000000
27,2013-03-31,433000000,44195000000,18620000000,25575000000,11.167,-263000000,4337000000,4337000000,12445000000,...,1460796393,1468000000,1478000000,13.027,43008000000,0,707000000,1381000000,29.297,4602000000
28,2012-12-31,397000000,41084000000,15372000000,25712000000,12.003,-396000000,2494000000,2494000000,11880000000,...,1485517485,1481000000,1493000000,12.320,39914000000,0,569000000,813000000,26.951,3910000000
29,2012-09-30,411000000,41661000000,15955000000,25706000000,11.929,-330000000,2554000000,2554000000,11863000000,...,1495179495,1487000000,1498000000,12.192,40520000000,0,636000000,925000000,27.249,5289000000
30,2012-06-30,315000000,41983000000,16231000000,25752000000,11.748,-315000000,2810000000,2810000000,13544000000,...,1507441717,1501000000,1512000000,13.704,40826000000,0,886000000,1183000000,27.199,4997000000
31,2012-03-31,453000000,43300000000,17352000000,25948000000,11.810,-221000000,3191000000,3191000000,11625000000,...,1530662299,1522000000,1531000000,11.700,42161000000,0,595000000,1317000000,27.701,5253000000
32,2011-12-31,293000000,40518000000,14520000000,25998000000,11.683,-381000000,1987000000,1987000000,10417000000,...,1523263533,1532000000,1537000000,10.453,39398000000,0,406000000,754000000,25.717,5144000000
33,2011-09-30,362000000,41499000000,15478000000,26021000000,11.538,-342000000,2234000000,2234000000,11365000000,...,1541568417,1540000000,1548000000,11.251,40427000000,0,523000000,984000000,26.251,4892000000
34,2011-06-30,603000000,42277000000,15857000000,26420000000,11.628,-258000000,2551000000,2551000000,13356000000,...,1564291782,1568000000,1577000000,12.903,41100000000,0,785000000,1045000000,26.212,4910000000
35,2011-03-31,613000000,42797000000,16161000000,26636000000,11.381,-184000000,1806000000,1806000000,10995000000,...,1592245349,1599000000,1611000000,10.521,41588000000,0,471000000,1165000000,26.009,4703000000
36,2010-12-31,445000000,40125000000,13479000000,26646000000,11.653,-388000000,545000000,545000000,9883000000,...,1622070458,1621000000,1631000000,9.331,38938000000,0,363000000,653000000,24.021,3357000000
37,2010-09-30,375000000,41741000000,15076000000,26665000000,11.677,-261000000,1425000000,1425000000,10913000000,...,1638820640,1637000000,1646000000,10.139,40561000000,0,472000000,813000000,24.778,3716000000
38,2010-06-30,392000000,42535000000,15757000000,26778000000,11.763,-223000000,2395000000,2395000000,12828000000,...,1665301180,1653000000,1663000000,11.742,41348000000,0,709000000,955000000,25.014,3018000000
39,2010-03-31,506000000,43619000000,16646000000,26973000000,11.551,-140000000,2436000000,2436000000,11069000000,...,1680353844,1677000000,1688000000,10.055,42427000000,0,391000000,1183000000,25.299,2669000000

In [27]:
ev_df = pd.DataFrame()
ev_ebitda_df = pd.DataFrame()

for ticker in tickers:
    ev_df = pd.concat([ev_df,test_df[f'{ticker}_enterpriseValue']], axis=1, join='outer')
    ev_ebitda_df = pd.concat([ev_ebitda_df,test_df[f'{ticker}_enterpriseValueOverEBITDA']], axis=1, join='outer')

In [28]:
ev_df

    HD_enterpriseValue
0         230589031762
1         273669855975
2         270899352059
3         241359355949
4         237231900540
5         214966666814
6         251098788783
7         237756694588
8         226290774511
9         223897026280
10        196853544017
11        204479776005
12        199082859386
13        178846723851
14        185234847507
15        183591814462
16        182558988373
17        187210936737
18        156935943978
19        159738153207
20        162385874343
21        142388431224
22        136169813625
23        121201752998
24        121479628779
25        124743592078
26        116815235355
27        124573705280
28        111961410103
29        104085053835
30         93376498851
31         83723222883
32         84476732319
33         68608505526
34         59736128381
35         64828889296
36         69804552311
37         63021056550
38         56330507704
39         63435229005

In [29]:
ev_ebitda_df
ev_data = test_df.drop(['HD_enterpriseValueOverEBITDA'], axis =1)

In [35]:
ev_data.dtypes

<bound method Series.sum of calendarDate                               object
HD_accumulatedOtherComprehensiveIncome      int64
HD_assets                                   int64
HD_assetsCurrent                            int64
HD_assetsNonCurrent                         int64
                                           ...
HD_taxAssets                                int64
HD_incomeTaxExpense                         int64
HD_taxLiabilities                           int64
HD_tangibleAssetsBookValuePerShare        float64
HD_workingCapital                           int64
Length: 97, dtype: object>

In [31]:
return_period = 4

Y = np.log(ev_ebitda_df).diff(return_period).shift(-return_period)
#Y.name = Y.name[-1]+'_pred'
Y = Y.rename(columns={'HD_enterpriseValueOverEBITDA': 'HD_enterpriseValueOverEBITDA_pred'})

for ticker in tickers:
    X1 = np.log(ev_data).diff(return_period)
    X1.columns = X1.columns.droplevel()
    #X2 = np.log(ccy_data).diff(return_period)
    #X3 = np.log(idx_data).diff(return_period)

    X4 = pd.concat([np.log(ev_ebitda_df).diff(i) for i in [return_period, return_period*2, return_period*4, return_period*8]], axis=1).dropna()
    X4.columns = [f'{ticker}_DT', f'{ticker}_2DT', f'{ticker}_4DT', f'{ticker}_8DT']

    X = pd.concat([X1, X4], axis=1)

    dataset = pd.concat([Y, X], axis=1).dropna().iloc[::return_period, :]
    Y = dataset.loc[:, Y.name]
    X = dataset.loc[:, X.columns]

TypeError: loop of ufunc does not support argument 0 of type str which has no callable log method

In [ ]:
date_df = pd.DataFrame()
for ticker in tickers:
    date_df = pd.concat([date_df,test_df[f'{ticker}_calendarDate']], axis=1, join='outer')

date_df

,HD_calendarDate,LOW_calendarDate,CAT_calendarDate,KR_calendarDate,WMT_calendarDate
0,2019-12-31,2019-12-31,2019-12-31,2020-03-31,2019-12-31
1,2019-09-30,2019-09-30,2019-09-30,2019-12-31,2019-09-30
2,2019-06-30,2019-06-30,2019-06-30,2019-09-30,2019-06-30
3,2019-03-31,2019-03-31,2019-03-31,2019-06-30,2019-03-31
4,2018-12-31,2018-12-31,2018-12-31,2019-03-31,2018-12-31
5,2018-09-30,2018-09-30,2018-09-30,2018-12-31,2018-09-30
6,2018-06-30,2018-06-30,2018-06-30,2018-09-30,2018-06-30
7,2018-03-31,2018-03-31,2018-03-31,2018-06-30,2018-03-31
8,2017-12-31,2017-12-31,2017-12-31,2018-03-31,2017-12-31
9,2017-09-30,2017-09-30,2017-09-30,2017-12-31,2017-09-30
10,2017-06-30,2017-06-30,2017-06-30,2017-09-30,2017-06-30
11,2017-03-31,2017-03-31,2017-03-31,2017-06-30,2017-03-31
12,2016-12-31,2016-12-31,2016-12-31,2017-03-31,2016-12-31
13,2016-09-30,2016-09-30,2016-09-30,2016-12-31,2016-09-30
14,2016-06-30,2016-06-30,2016-06-30,2016-09-30,2016-06-30
15,2016-03-31,2016-03-31,2016-03-31,2016-06-30,2016-03-31
16,2015-12-31,2015-12-31,2015-12-31,2016-03-31,2015-12-31
17,2015-09-30,2015-09-30,2015-09-30,2015-12-31,2015-09-30
18,2015-06-30,2015-06-30,2015-06-30,2015-09-30,2015-06-30
19,2015-03-31,2015-03-31,2015-03-31,2015-06-30,2015-03-31
20,2014-12-31,2014-12-31,2014-12-31,2015-03-31,2014-12-31
21,2014-09-30,2014-09-30,2014-09-30,2014-12-31,2014-09-30
22,2014-06-30,2014-06-30,2014-06-30,2014-09-30,2014-06-30
23,2014-03-31,2014-03-31,2014-03-31,2014-06-30,2014-03-31
24,2013-12-31,2013-12-31,2013-12-31,2014-03-31,2013-12-31
25,2013-09-30,2013-09-30,2013-09-30,2013-12-31,2013-09-30
26,2013-06-30,2013-06-30,2013-06-30,2013-09-30,2013-06-30
27,2013-03-31,2013-03-31,2013-03-31,2013-06-30,2013-06-30
28,2012-12-31,2012-12-31,2012-12-31,2013-03-31,2013-03-31
29,2012-09-30,2012-09-30,2012-09-30,2012-12-31,2012-12-31
30,2012-06-30,2012-06-30,2012-06-30,2012-09-30,2012-09-30
31,2012-03-31,2012-03-31,2012-03-31,2012-06-30,2012-06-30
32,2011-12-31,2011-12-31,2011-12-31,2012-03-31,2012-03-31
33,2011-09-30,2011-09-30,2011-09-30,2011-12-31,2011-12-31
34,2011-06-30,2011-06-30,2011-06-30,2011-09-30,2011-09-30
35,2011-03-31,2011-03-31,2011-03-31,2011-06-30,2011-06-30
36,2010-12-31,2010-12-31,2010-12-31,2011-03-31,2011-03-31
37,2010-09-30,2010-09-30,2010-09-30,2010-12-31,2010-12-31
38,2010-06-30,2010-06-30,2010-06-30,2010-09-30,2010-09-30
39,2010-03-31,2010-03-31,2010-03-31,2010-06-30,2010-06-30

In [ ]:
balance_sheet_trend_analysis = test_df.copy()
balance_sheet_trend_analysis = balance_sheet_trend_analysis.set_index('ticker').T
balance_sheet_trend_analysis

ticker,HD,HD,HD,HD,HD,HD,HD,HD,HD,HD,...,WMT,WMT,WMT,WMT,WMT,WMT,WMT,WMT,WMT,WMT
period,Q,Q,Q,Q,Q,Q,Q,Q,Q,Q,...,Q,Q,Q,Q,Q,Q,Q,Q,Q,Q
cashAndEquivalentsUSD,2133000000,2193000000,2547000000,1882000000,1778000000,1764000000,3490000000,3599000000,3595000000,3549000000,...,8643000000,7935000000,8117000000,6550000000,7063000000,8102000000,9400000000,7395000000,10616000000,10195000000
investmentsCurrent,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
assetsCurrent,19810000000,21174000000,20699000000,20553000000,18529000000,19809000000,20802000000,21214000000,18933000000,19682000000,...,63431000000,56259000000,57276000000,54975000000,59271000000,55414000000,55958000000,51893000000,59568000000,53045000000
debtToEquityRatio,-17.443,-49.345,-45.836,-25.039,-24.431,33.242,22.012,26.653,29.625,16.705,...,1.722,1.721,1.786,1.65,1.841,1.778,1.816,1.596,1.814,1.702
debtUSD,37377000000,35051000000,34473000000,34198000000,29202000000,25784000000,25498000000,25793000000,27028000000,25589000000,...,57457000000,54623000000,54626000000,53427000000,59236000000,57078000000,55666000000,49864000000,56794000000,49233000000
dividendYield,0.031,0.023,0.022,0.023,0.023,0.024,0.019,0.02,0.021,0.019,...,0.022,0.021,0.023,0.024,0.025,0.027,0.025,0.024,0.022,0.023
earningsBeforeInterestTaxesDepreciationAmortizationUSD,3998000000,4541000000,5456000000,4144000000,3927000000,4411000000,5431000000,3913000000,3718000000,4198000000,...,8058000000,8730000000,8379000000,10220000000,7818000000,8311000000,7746000000,10928000000,7397000000,7980000000
EBITDAMargin,0.155,0.167,0.177,0.157,0.148,0.168,0.178,0.157,0.156,0.168,...,0.071,0.076,0.074,0.083,0.071,0.076,0.074,0.094,0.073,0.077
shareholdersEquityUSD,-3116000000,-1082000000,-1160000000,-2143000000,-1878000000,1320000000,2009000000,1687000000,1454000000,2543000000,...,73891000000,70278000000,68964000000,71315000000,67163000000,67941000000,65006000000,68542000000,65525000000,64646000000
enterpriseValue,230589031762,273669855975,270899352059,241359355949,237231900540,214966666814,251098788783,237756694588,226290774511,223897026280,...,290072553381,298157648607,268300105864,254860255010,250736953281,230441427520,232603594659,225268154507,240271069080,225229216230